/* app global css */

.q-page {
  background-color: #f5f5f5;
}

.text-primary {
  color: #1976d2 !important;
}

.text-secondary {
  color: #26a69a !important;
}

.text-accent {
  color: #9c27b0 !important;
}